{% block contenido %}
<div class="panel panel-primary">
    <br>
    <div class="panel-heading">
        <a class="btn btn-outline-primary float-right" href="{% url 'Usuario:Insertar' %}">Agregar</a>
        <h1>
          <i class="bi bi-person-lines-fill"></i>&nbsp;  Usuarios
        </h1>
    </div>
</div>
<div class="panel-body col-md-10 container-md">
    <div class="table-stats order-table ov-h">
        <table class="table ">
            <thead>
                <tr>
                    <th class="serial">ID</th>
                    <th>correo</th>
                    <th>Persona</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            {% csrf_token %}
            <tbody>
                {% for item in usu  %}
                <tr>
                    <td class="serial"> {{item.id}}</td>

                    <td> <span class="name">{{item.correoUsuario}}</span> </td>
                    <td>
                        <span class="name">{{item.Persona}}</span>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                            onclick="url('{% url 'Usuario:Eliminar' item.id  %}','{% url 'Usuario:Editar' item.id  %}','{% url 'detalleusuario:Insertar' %}','{{item.id}}')">
                            Acciones
                        </button>
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div> <!-- /.table-stats -->
</div>
<div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Acciones para usuarios</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <a id="editar" type="button" class="btn btn-success">Editar</a>
                <a id="eliminar" type="button" class="btn btn-danger">Eliminar</a>
                <a id="agragarrol" type="button" class="btn btn-secondary">Agregar rol</a>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

            </div>
        </div>|
    </div>
</div>
{%endblock contenido%}