
    <div class="row inner_abogados">
      
        <div class="cja_tituloAbogados col-sm-12">
           <h2>
               Nuestros Servicios
           </h2>
        </div>    
       </div>

       <section class="inner_Abogados">
           <div class="cja_Abogado row ">
               <div class="cja_TiposAbogado col-sm-12 col-md-4">
                   <img src="../../assets/personaUno.png" alt="">
                   <h4>Sara Garrido</h4>
                   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis obcaecati, placeat ullam numquam non explicabo nemo ad distinctio blanditiis veniam corporis saepe perferendis sunt laborum sed accusamus! Ex, itaque expedita?</p>
               </div>
               <div class="cja_TiposAbogado col-sm-12 col-md-4">
                   <img src="../../assets/personaDos.png" alt="">
                   <h4>Julian Gomez</h4>
                   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor quis nesciunt beatae illo molestiae iusto, veniam aut, obcaecati dolorum, blanditiis porro incidunt nam dignissimos quasi quod sunt doloremque ullam aliquam.</p>
               </div>
               <div class="cja_TiposAbogado col-sm-12 col-md-4">
                   <img src="../../assets/personaDos.png" alt="">
                   <h4>Andres Serrano</h4>
                   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, incidunt! Quis tempora commodi numquam, hic alias aliquid nulla. Dolore pariatur molestias deleniti obcaecati facere commodi at quam eius dicta officiis.</p>
               </div>
            </div>  
       </section>


