<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class=" main container-fluid">
    <app-menu></app-menu>
    <app-home></app-home>
    <app-servicios></app-servicios>
        <div class="row inner_abogados">
          <div class="cja_tituloAbogados col-sm-12">
            <h2>
              Nuestros Servicios
            </h2>
          </div>
        </div>
        <section class="inner_Abogados">
            <div class="cja_Abogado row ">
                <app-abogados class="cja_TiposAbogado col-sm-12 col-md-4"></app-abogados>
                <app-abogados class="cja_TiposAbogado col-sm-12 col-md-4"></app-abogados>
                <app-abogados class="cja_TiposAbogado col-sm-12 col-md-4"></app-abogados>
            </div>
           
        </section>
    
      
           
    
      
    <app-footer></app-footer>
</div>


       
   
 



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


