<<<<<<< HEAD
.cja_Abogado {
  /* background-color: red; */
  padding: 80px;
}

.cja_Abogado img {

  width: 420px;
  height: 600px;
  margin-bottom: 30px;
}

.cja_tituloAbogados {
  margin: 50px 0;
}

.cja_tituloAbogados h2 {
  color: #202B34;
  font-size: 40px;
  margin-left: 20px;
}

.cja_TiposAbogado h4 {
  color: #202B34;
  margin-bottom: 25px;
}

.inner_Servicios {
  /* background-color: red; */
  margin-bottom: 80px;
=======
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
>>>>>>> 1c1f7919cad2e2e0c636d771455b970e21831bfc
}