<div class="">

    <div class="row inner_Mision">
      <div class="cja_TxtMision col-sm-12 col-md-6">
        <h1>Misión</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae modi illo doloremque, officia at rem adipisci nam accusamus aut provident ex, rerum ratione incidunt placeat id atque odio eligendi. Ducimus.</p>
      </div>
      
      <div class="cja_ImgMision col-sm-12 col-md-6">
        <img src="../../assets/abogados.png" alt="">
       </div>
    </div>
    
    
    <div class="row inner_RegistroHome">
    <div class="cja_registroHome col-sm-12">
      <img src="../../assets/formasUno.png" alt="">
    
      <div class="cja_RegistroTxt ">
        <h3>
          Registrate para ser la mejor persona del mundo
        </h3>
        <button type="button" class="btn">Vamos a ello</button>
      </div>
    </div>
    </div>
     
    <div class="row inner_Vision">
      <div class="cja_ImgVision col-sm-12 col-md-6">
        <img src="../../assets/abogadoDos.png" alt="">
       </div>
       <div class="cja_TxtVision col-sm-12 col-md-6">
        <h1>Visión</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae modi illo doloremque, officia at rem adipisci nam accusamus aut provident ex, rerum ratione incidunt placeat id atque odio eligendi. Ducimus.</p>
      </div>

      

</div>
