<div class="container p-5">

    <div class="row ">
        <div class="col-md-2 float-left">
          <app-images></app-images>
        </div>
        <div class=" col-md-8 float-right">
          <h1>ghkghkghkhjkhjk</h1>
          <p>dhdcbdf</p>
        </div>
    </div>
    <div class="row ">

      <div class=" col-md-8 float-left">
        <h1>ghkghkghkhjkhjk</h1>
        <p>dhdcbdf</p>
      </div>
            <div class="col-md-2 float-right">
              <app-images></app-images>
            </div>
    </div>

</div>
