<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        <div class="col-lg-6">
            <div class="float-left">
                <app-images [url]="url"></app-images>
                
            </div>
        </div>    
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav  float-right">
        <li class="nav-item active mr-5">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active mr-5">
          <a class="nav-link" href="#">Servicios</a>
        </li>
        <li class="nav-item active mr-5">
             <a class="nav-link" href="#">Abogados</a>
         </li>
        <li class="nav-item active mr-5">
          <a class="nav-link" href="#">Registrase</a>
        </li>
        <app-button></app-button>
      </ul>
        </div>
  </nav>
</header>