
.navbar{
    background-color: #202B34;
   
}
.menu_tog
{
    background-color:#E8E81E ;
}
.navbar-brand{
    color: #E8E81E;
    font-size: 25px;
    padding-left: 35px;
}
.nav-link
{
    color: white;
    font-size: 18px;
}
.button_menu button
{
    background-color: transparent;
    border: 2px solid #E8E81E;
    color:white; 
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    li{
        padding-left: 0px;
    }
}
@media only screen and (min-width: 600px) {
    li{
        padding-left: 0px;
    }
}
@media only screen and (min-width: 768px) {
    li{
        padding-left: 70px;
    }
}
