
    <div class="row">
        <div class=" col-md-7 float-left">
               
            <div class="row">Title </div>
            <div class="row"><p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui rerum deleniti dicta, libero itaque magnam, maiores, aut cum est
                 quasi nisi? Harum eum voluptas dicta deleniti est blanditiis iusto tempore.</p></div>
            <div class="row">
              <app-button>
              </app-button>
            </div>
        </div>
        <div class="col-md-3 float-rigth">
            <app-images></app-images>

        </div>
    </div>

