
    <div class="row inner_servicios" id="Servicios">
      
         <div class="cja_tituloServicios col-sm-12">
            <h2>
                Nuestros Servicios
            </h2>
         </div>    
        </div>

        <section class="inner_Servicios">
            <div class="cja_servicios row ">
                <div class="cja_TiposServicios col-sm-12 col-md-4">
                    <img src="../../assets/Recurso 1.svg" alt="">
                    <h4>Penal</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis obcaecati, placeat ullam numquam non explicabo nemo ad distinctio blanditiis veniam corporis saepe perferendis sunt laborum sed accusamus! Ex, itaque expedita?</p>
                </div>
                <div class="cja_TiposServicios col-sm-12 col-md-4">
                    <img src="../../assets/judicial.svg" alt="">
                    <h4>Civil</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor quis nesciunt beatae illo molestiae iusto, veniam aut, obcaecati dolorum, blanditiis porro incidunt nam dignissimos quasi quod sunt doloremque ullam aliquam.</p>
                </div>
                <div class="cja_TiposServicios col-sm-12 col-md-4">
                    <img src="../../assets/cartera.svg" alt="">
                    <h4>Cobranzas</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, incidunt! Quis tempora commodi numquam, hic alias aliquid nulla. Dolore pariatur molestias deleniti obcaecati facere commodi at quam eius dicta officiis.</p>
                </div>
             </div>  
        </section>

